<header class="site-header">
  <div class="container header-inner">
    <a class="brand" href="index.html">
      <!-- <img src="assets/img/icons/logo_kai2.jpeg" alt="КАИ логотип" width="48" height="48"/> -->
      <span>КНИТУ‑КАИ · ДПУ</span>
    </a>
    <nav aria-label="Основная навигация">
      <ul class="nav">
        <li><a href="about.html">О кафедре</a></li>
        <li><a href="programs.html">Направления</a></li>
        <li><a href="careers.html">Карьера</a></li>
        <li><a href="science.html">Наука</a></li>
        <li><a href="staff.html">Сотрудники</a></li>
        <li><a href="news.html">Новости</a></li>
        <li><a href="applicants.html">Абитуриентам</a></li>
        <li><a href="contacts.html">Контакты</a></li>
      </ul>
    </nav>
  </div>
</header>